/* background = #0E0B16
borders = #A239CA
buttons = #4717F6
Text = #E7DFDD */

body {
  background-color: #0E0B16;
}

/* .name {
  border-style: solid;
  border-width: 2px;
  border-color: #A239CA;
  border-radius: 4px;

} */

.button {
  color: #E7DFDD;
  background-color: #0E0B16;
  border-color: #A239CA;
  border-width: 2px;
  border-radius: 4px;
  font-size: large;
  padding: 12px 32px;
}

.name {
  border: none;
  border-bottom: 2px solid #A239CA;
  border-radius: 4px;
  color: #E7DFDD;
  background-color: #0E0B16;
  width: 60%;
  padding: 12px 20px;
  font-size: large;
}

/* #realName {
  border: none;
  border-bottom: 2px solid #A239CA;
  border-radius: 4px;
  color: #E7DFDD;
  background-color: #0E0B16;
  width: 60%;
  padding: 12px 20px;
  font-size: large;
} */
