.button {
  color: #E7DFDD;
  background-color: #0E0B16;
  border-color: #A239CA;
  border-width: 2px;
  border-radius: 4px;
  font-size: large;
  padding: 12px 35px;
  margin: auto;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.guessName {
  border: none;
  border-bottom: 2px solid #A239CA;
  border-radius: 4px;
  color: #E7DFDD;
  background-color: #0E0B16;
  width: 26%;
  padding: 12px 32px;
  font-size: large;
  display: block;
  margin: auto;
  margin-bottom: 17px;
  text-align: center;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

.result {
  font-size: 20px;
}
